# always keep folders with a .gitkeep even if the folder content has to be ignored
!.gitkeep

# test files kept apart
tests/
test.*

# database
db.json

# builds done for teh documentation
docs/build/

# --------------------------------------
# removing editor specific files
.idea/
.vscode/

# __pycache__
__pycache__/
*/__pycache__/

# venv
venv/

# pypi dist
dist/
pyscandl.egg-info/
/build/
