astroid==2.3.3
certifi==2019.11.28
cfscrape==2.0.8
chardet==3.0.4
gitdb2==2.0.6
GitPython==3.0.5
idna==2.8
img2pdf==0.3.3
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pexpect==4.7.0
Pillow==7.0.0
ptyprocess==0.6.0
pylint==2.4.4
requests==2.22.0
six==1.13.0
smmap2==2.0.5
urllib3==1.25.7
wrapt==1.11.2
